* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

form {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bolder;
}

input {
    width: 300px;
    height: 30px;
    font-size: 2rem;
    padding: 1rem;
}

button {
    padding: .5rem 2rem;
}